.task {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.content {
  padding: 3px;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.taskTitle {
  margin: 0px;
  margin-bottom: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.taskDescription {
  margin-top: 4px;
  margin-bottom: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.taskEditButton {
  background-color: white;
  align-self: center;
  border: none;
}

.taskDeleteButton {
  background-color: white;
  align-self: center;
  border: none;
}

.tasklist {
}

.createOne {
  justify-content: center;
}

.task [contenteditable="true"] {
  border: 1px solid #777;
  background-color: #fefefe;
}

.searchContainer {
  display: flex;
  align-items: center;
  margin-top: 10px;
  height: 35px;
}

.inputSearch {
  padding: 8px;
  margin-right: 10px;
}
