.createTaskContainer {
}

.createTaskButton {
  text-align: center;
}

.sendNewTask {
  background-color: white;
  align-self: center;
  border: none;
}

.newTask {
  display: flex;
  align-items: center;
}

.input {
  padding: 8px;
  margin-right: 10px;
}

.createOne {
  margin-top: 5px;
}
