.fullScreen {
  background-color: rgba(230, 230, 230, 0.95);
  position: absolute;
  width: 100%;

  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  left: 0;
  top: 0;
  height: 100vh;
}

.container {
  background-color: green;
  color: white;
  width: 300px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.input {
  padding: 10px;
  width: 200px;
  font-size: 18px;
}

.submit {
  margin-top: 20px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 90px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: 900;
}

.error {
  margin-top: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: white;
  background-color: red;
  font-size: 14px;
  width: 100%;
}

.hide {
  visibility: hidden;
}

.title {
  font-size: 28px;
}
