.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  width: 320px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 3px;
}

.mainTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
